{% extends 'base.html.twig' %}

{% block title %}List of Users {% endblock %}

{% block body %}

    {#{% if users %}
        <ul>
            {% for user in users %}
                <li> <a href="{{ path('show_user', {'userId': user.id}) }}">
                        <h2>{{ user.name }}</h2>
                    </a></li>
                    {{ user.email }}
                {% endfor %}
        </ul>
    {%endif%}
#}
    {%if  app.session.get('id')%} {#if session  #}

        {% if pagination %}{#if users exist  #}
            {% for user in pagination %}

                <li><a href="{{ path('show_user', {'userId': user.id}) }}">
                        <h2>{{ user.name }}</h2>
                    </a>
                </li>
                <li>{{ user.email }}</li>

            {% endfor %}

            {# display navigation #}
            <div class="navigation">

                {{ knp_pagination_render(pagination) }}
            </div>
        {%endif%}{#end if users exist  #}
    {%else%}
        <h2>please login :)</h2>
    {%endif%} {#end if session  #}
{% endblock %}