{# form to add new phpne #}

{{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}

{{ form_errors(form) }}

<div>
    {{ form_label(form.number ,'Enter Your phone') }}
    {{ form_errors(form.number) }}
    {{ form_widget(form.number) }}
</div>
<div>
    {{ form_widget(form.save) }}
</div>
    
{{ form_end(form) }}